body {
   background-color: black;
   color: white;
}

a {
   cursor: pointer;
   font-family: Arial, Helvetica, sans-serif;
}

.main-header {
   width: 100%;
   height: 5.5vmax;
   background-color: #fff;
   display: flex;
   justify-content: space-evenly;

   .main-header-logo {
      width: fit-content;
      height: 100%;
      background-color: aqua;

      img {
         width: 100%;
         height: 100%;
      }
   }

   .main-header-nav {
      width: 75%;
      height: 100%;
      background-color: lime;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      // First UL
      .main-nav-list {
         width: 100%;
         list-style-type: none;
         display: flex;
         justify-content: space-evenly;

         // Main Nav LI's
         .main-nav-item {
            display: inline;
            float: left;
            position: relative;
            line-height: 5.5vmax;

            // The A element between the main nav LI's
            .main-nav-link {
               display: block;
               padding: 0 3rem;
               font-size: 20px;
               color: rgb(170, 93, 26);
               position: relative;
            }

            .main-nav-link:hover {
               background-color: yellow;
               color: blue;
            }

            .proj-subnav {
               width: 100%;
               display: none;
               background-color: green;
               border-radius: 0px 0px 4px 4px;

               .proj-sub-li {
                  width: 100%;
                  display: flex;
                  justify-content: center;
               }

               .proj-sub-top-a {
                  margin-top: 0.1rem;
               }

               .proj-sub-a {
                  width: 95%;
                  min-height: 1rem;
                  line-height: 4em;
                  display: flex;
                  justify-content: center;
                  font-size: 16px;
                  margin-bottom: 0.1rem;
                  background-color: coral;
                  border-radius: 1em;
               }

               .proj-sub-a:hover {
                  background-color: #fff;
               }
            }
         }
         .main-nav-item:hover .proj-subnav {
            display: block;
         }
      }
   }
}
