@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

//font-family: 'Comfortaa', cursive;

html {
   background-color: black;
   color: white;
   font-family: "Comfortaa", cursive;
}

header {
   display: flex;
   justify-content: space-evenly;
   background-color: #373737;
   padding: 1rem 0;
   width: 100vw;
   height: fit-content;

   .nav-logo-a {
      align-self: center;
      width: 8vw;
      padding: 0 1rem 0 1rem;
      background: url("/img/logo1.svg") no-repeat;
   }
   .main-nav {
      width: 65vw;
      height: 100%;
      // padding: 1rem 1rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-self: center;
      overflow: hidden;
      justify-content: flex-start;

      .nav-list {
         display: flex;
         align-self: center;
         align-items: center;
         width: fit-content;
         height: fit-content;
         justify-content: space-around;
         border: 1px white solid;
         border-radius: 2rem;
         padding: 0.5rem;
         overflow: hidden;

         .nav-item {
            color: rgb(212, 121, 212);
            font-size: 1.5em;
            font-weight: 900;
            height: 100%;
            padding: 1rem 0.5rem;
            margin: 0 1rem;
            text-align: center;
            border-radius: 20px;
         }

         .nav-item:link,
         .nav-item:visited {
            display: block;
         }

         .nav-item:hover,
         nav-item:active {
            background-color: rgba(241, 86, 255, 0.212);
            color: rgb(233, 14, 233);
         }

         .sub-item {
            display: none;
         }
      }
   }
}

body {
   width: 100%;
   margin: 0 auto;
}
