/* Since the logo isn't insie the nav, I had to make these changes to the main header element.
Along with some other changes like making it  */
header {
  background-color: #8c52ff;
  height: 10vh;
  width: 100vw;
  display: flex;
}

/* Using percentages here is a bad idea in this case it seems. There's also some funky behaviour when it comes to flexbox attributes. */
header a img {
  height: 4rem;
  margin: 1rem;
}

.main-nav {
  align-self: center;
}

.main-nav ul li {
  display: inline-block;
  position: relative;
}

.main-nav ul li a {
  display: block;
  padding: 20px 25px;
  color: white;
  text-align: center;
  font-size: 20px;
}

.main-nav ul li ul.dropdown li {
  display: block;
}

.main-nav ul li ul.dropdown {
  width: 100%;
  background-color: #8c52ff;
  position: absolute;
  z-index: 999;
  display: none;
}

.main-nav ul li a:hover,
.main-nav>a:hover {
  background-color: #6d30e9;
}

.main-nav ul li:hover ul.dropdown {
  display: block;
}