body {
   background-color: black;
   color: white;
}

header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   
   a {
      font-size: 2.5em;
   }

   #nav-logo {
      max-width: 200px;
   }

   .main-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
   }
}
